<!DOCTYPE HTML>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- JQuery UI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- vars -->
<script type="text/javascript">
    var materials = <%= @material_data.to_json.html_safe %>;
    var names = <%= @material_names.to_json.html_safe %>;
    var SAVE_URL = '/model';
    var curr_assembly = <%= @curr_assembly.to_json.html_safe %>;
    var curr_name = <%= @curr_name.to_json.html_safe %>;
</script>

<%= javascript_include_tag "assembly/application" %>

<!--Project -->
<div class="projects-page">

  <!--Put angular js controller here to control 2 graphs -->
  <table id="workspace" ng-controller="assemblyController" ng-app="assembly">

    <script type="text/ng-template" id="list.html">
      <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
      </ul>
    </script>

    <!-- Template for a normal list item -->
    <script type="text/ng-template" id="item.html">
      <div class="item">Item {{item.id}}</div>
    </script>

    <!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
    <script type="text/ng-template" id="container.html">
      <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
      </div>
    </script>

    <!--Header Section-->
    <tr id="header">
      <td><h5 class="section-title">Library</h5></td>
      <td>
        <div class="assembly-box">
          <!--Current Design name-->
          <input type="text" placeholder="Design Name" id="assembly-title" onkeypress="return searchKeyPress(event);">
          <!--Add subassembly button-->
          <button id="add_subassembly" class="js--triggerAnimation">+<i class='material-icons' id='folder-add'>folder</i></button>
          <!--save button-->
          <button id="save" class="js--triggerAnimation"><i class='material-icons' title='Save' id='save-icon'>save</i></button>
        </div>
      </td>
    </tr>

    <!--Material Process Section -->
    <tr>
      <!-- Library menu -->
      <td id="library">

        <!--Search Bar -->
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="material-search" placeholder="Search materials" type="text" class="autocomplete">
        </div>

        <div class="simpleDemo row">
          <!--List of Material & Section-->
          <ul class="collapsible" data-collapsible="expandable">
            <li ng-repeat="(listName, list) in menu.lists">
              <h3 class="collapsible-header">List {{listName}}</h3>
              <ul class="collapsible-body" dnd-list="list">
                <li ng-repeat="item in list"
                    dnd-draggable="item"
                    dnd-moved="list.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="menu.selected = item"
                    ng-class="{'selected': menu.selected === item}"
                >
                  {{item.label}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </td>

      <!-- Current Assembly Building Section -->
      <td id="assembly">
        <!--<ul id="build" style = " height:65vh; border:1px solid #D5D5D5;  overflow-y:scroll;" class="collection"></ul>-->

        <div class="nestedDemo row">
          <!--Droppable Section-->
          <div class="col-md-10">
            <div class="row">
              <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
                <div class="dropzone box box-yellow">
                  <!-- The dropzone also uses the list template -->
                  <h3>Dropzone {{zone}}</h3>
                  <div ng-include="'list.html'"></div>
                </div>
              </div>
            </div>

            <div view-source="nested"></div>

            <h2>Generated Model</h2>
            <pre>{{modelAsJson}}</pre>
          </div>

          <!--Sidebar-->
          <div class="col-md-2">

            <div class="toolbox box box-grey box-padding">
              <h3>New Elements</h3>
              <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                    dnd-copied="item.id = item.id + 1"
                >
                  <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button>
                </li>
              </ul>
            </div>

            <div ng-if="models.selected" class="box box-grey box-padding">
              <h3>Selected</h3>
              <strong>Type: </strong> {{models.selected.type}}<br>
              <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
            </div>

            <div class="trashcan box box-grey box-padding">
              <!-- If you use [] as referenced list, the dropped elements will be lost -->
              <h3>Trashcan</h3>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </table>
</div>