<table ng-controller="assembly_page_controller" ng-app="assembly_page_app"
       ng-init='fillAssembly("<%= assembly_path( :id => @assembly.id, :format => :json ) %>");
       fillLibrary("<%= show_lib_path(:format => :json ) %>")'>

  <%=render partial: "build.html.erb" %>

  <!--##########################################################################################-->

  <!--Beginning of the page -->
  <tr>
    <!--Library section (left side bar)-->
    <td class="library">
      <h1>Library</h1>
      <ul>
        <li ng-repeat="section in library.lib"
            ng-include="'library-section.html'">
        </li>
      </ul>
    </td>

    <!--Drag and Drop zone -->
    <td class="assembly" >
      <!--Drag and drop zone -->
      <div class="nestedDemo row">
        <div class="col-md-10">
          <div class="row">
            <div ng-repeat="(zone, list) in assembly.dropzones" class="col-md-6">
              <div class="dropzone box box-yellow">
                <h3>{{zone}}</h3>
                <div ng-include="'list.html'"></div>
              </div>
            </div>
          </div>
          <div view-source="nested"></div>
        </div>
      </div>
    </td>

    <!--New element and trash can section -->
    <td>
      <!--New element or trash can section -->
      <div class="col-md-2 nestedDemo">
        <!--Adding new elements -->
        <div class="toolbox box box-grey box-padding">
          <h3>New Elements (Drag to create new)</h3>
          <ul>
            <li ng-repeat="item in assembly.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.name = 'new'"
            >
              <div class="btn btn-default btn-lg">{{item.type}}</div>
            </li>
          </ul>
        </div>

        <!--Selected section-->
        <div ng-if="assembly.selected" class="box box-grey box-padding">
          <h3>Selected</h3>
          <strong>Type: </strong> {{assembly.selected.type}}<br>
          <input type="text" ng-model="assembly.selected.id" class="form-control" style="margin-top: 5px" />
        </div>

        <!--Trashcan-->
        <div class="trashcan box box-grey box-padding">
          <!-- If you use [] as referenced list, the dropped elements will be lost -->
          <h3>Trashcan</h3>
          <ul dnd-list="[]">
            <li><img src="/trashcan.jpg"></li>
          </ul>
        </div>

        <!--Save button & Anayze Button -->
        <div>
          <button id="save-button" ng-click='updateAssembly("<%= form_authenticity_token.to_s %>","<%=  assembly_path(@assembly, :format => :json) %>","<%= @assembly.id %>")'>Save Assembly</button><br>
          <button id="analyze-button"> Analyze </button>
        </div>

        <div> {{DebugZone}}</div>

      </div>
    </td>
  </tr>
  <!--End of page-->
</table>
